@import"_extend";
@import"_reset";
@import"_mixin";
@import"_variable";

body{
	// overflow-x: hidden;
}
.btn-custom{
	@extend %btn-custom;
}
// ########################
	// HIDDEN MENU SECTION
// ########################
.hidden-menu{
	margin-left: auto;
}
.hidden-menu .navbar-toggler{
    border: 1px solid #fff !important;
    padding: 3px 8px;
}
.hidden-menu .navbar-toggler span{
    /* border-color: rgb(255, 252, 252)!important; */
    width: 25px;
    height: 2px;
    display: block;
    background: #fff;
    margin: 5px 0px;
    transition-duration: 0.4s; 
}
.hidden-menu .navbar-toggler span:first-child{
    width: 36px;
}
.hidden-menu .navbar-toggler span:last-child{
    width: 30px;
}

.hidden-menu .navbar-toggler:hover span{
	width: 36px;
}
.hidden-menu .dropdown-menu{
	 
display: block;
	 
visibility: hidden;
	 
transform: translateY(20px);
	 
transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
opacity: 0;
}
.hidden-menu .dropdown:hover .dropdown-menu{
	display: block;
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}
.hidden-menu .dropdown.megamenu{
	visibility: visible;
}

.hidden-menu .dropdown.megamenu .dropdown-menu{
	visibility: visible;
	opacity: 1;
	width: calc(100% - 200px);
	position: static;
}

// ########################
	// HIDDEN MENU SECTION
// ########################


header{
	padding-top: 28px;
    padding-bottom: 28px;
	a.logo{
			img{
				// width: 100%;
			}
	}
	ul.nav{
		align-items: center;
			.img-li{
				padding-right:10px;
				img{}
			}
			li{
				h4{
					font-size: 18px;
				}
				span{
					font-size: 14px;
					color: #a0a0a0;
				}
			}
	}
}

nav.bg-custom{
      padding:0;
	  background:$primary-color;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 16px;

	  				.navbar-nav{
	  					.nav-item{
	  						  a.nav-link{
	  						  		color:#fff;
	  						  		@include padd(9px,0px);

	  						  		&:hover,&:focus{
	  						  			color:#F69165;
	  						  		}
	  						}
	  					}
	  				}

 }


button.btn.appoinment{

	// border:0 !important;
	border-radius: 0px !important;
	border:0;
	background: $theme-color;
	color:#fff;
	@include padd(16px,16px);
	transform: skew(-20deg);
								p{
									transform: skew(20deg);
									text-transform: uppercase;
									font-size: 16px;
									font-weight: 500px;
									color:#fff;

										i{
											padding-right:10px;
											color:#fff;
										}
									}

}
.appoinment-div{
	position:relative;
}
button.btn.appoinment:hover{
	
	background:#fff;
}
button.btn.appoinment:hover i,button.btn.appoinment:hover p{
	color:#000;
	font-weight: 600;
}
button.btn.appoinment::after{
			         position:absolute;
				 	content: "";
				 	width: 0%;
				 	height: 100%;
				 	top: 0;
				    left: 0;
				    border: 2px solid transparent;
				    transition: all .8s;
}
button.btn.appoinment:hover::after{
			         position:absolute;
				 	content: "";
				 	width: 100%;
				 	height: 100%;
				 	top: 0;
				    left: 0;
				    border-top: 4px solid $theme-color;

}
button.btn.appoinment::before{
			         position:absolute;
				 	content: "";
				 	width: 0%;
				 	height: 100%;
				 	top: 0;
				    right: 0;
				    border-top: 4px solid transparent;
				    border-bottom: 4px solid transparent;
				    transition: all .8s;
}
button.btn.appoinment:hover::before{
			         position:absolute;
				 	content: "";
				 	width: 100%;
				 	height: 100%;
				 	bottom: 0;
				    right: 0;
				    border-bottom: 4px solid $theme-color;
}

// ##############################
//       CAROUSEL SECTION
// ##############################

.carousel-section{
	background-image:url(../images/bg.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 100%;
	.carousel-item{
		          .row{
		          	align-items:center;
		          	height: 100%;
						h2{
							background:$primary-color;
    						display: inline-block;
    						color:#fff;
    						font-size: 25px;
    						@include padd(15px, 10px);
    						font-weight: 500;
    						margin-bottom: 10px;
    						text-transform: uppercase;

						}
						h1{
							background:$theme-color;
    						display: inline-block;
    						font-size: 34px;
    						@include padd(10px, 10px);
    						color:#fff;
    						font-weight: 500;
    						text-transform: uppercase;

						}
						p{
							margin:10px 0;
							font-weight: 500;
							
						}
						ul.nav{
							li{
								margin-right: 15px; 
								a.btn-custom{
										background:$primary-color;
										@include padd(13px, 9px);
										border-radius:0;
										color: #fff;
										font-size: 16px;
										font-weight: 500;
										transition: all 0.4s;
										&:hover{
											background:$theme-color;
										}
								}
							}
						}
		}
	}
}
.carousel-control-prev, .carousel-control-next{
	background:$primary-color;
	z-index: 1;
	width: 30px;
	height: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev:hover,.carousel-control-prev:hover{
	background:$theme-color;
}
/*// ####################################
// 			SERVICE SECTION
// ####################################*/
.heading{
	margin-bottom: 30px;
	h1{
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 5px;
		
	}
	img{
		transform: rotateX(0deg);
		animation-name: rotate;
		animation-duration: 1s ;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		margin: 15px 0;

	}
	p{
		font-size: 16px;
		color: $text-color;
		font-weight: 500;
		margin-bottom: 15px;

	}
	
}
@keyframes rotate{
	0%{
		transform: rotateX(0deg);
	}
	100%{
		transform: rotateX(90deg);
	}
}


.service-section{
	@include padd(0,80px);
		position:relative;
		overflow: hidden;
	    // margin-right: 20px;

		& > img{
			position:absolute;
			top:0;
			left: 0;
			overflow: hidden;
			max-width: 100%;
			height: 100%;
			padding-top: 80px;
			padding-left: 15px;


		}
	
		.services{
		   margin-bottom: 10px;
		   margin-right: 20px;
			img{
				@include padd(0, 5px);
			}
			h2{
				@extend %head;
			}
			p{}
		}
}

// ####################################
// 			our doctors
// ####################################
.doctors-section{
	background:#f9f9f9;
	@include padd(0px,120px);
	.heading{
		justify-content:center;
		h1{}
		img{}
		p{
			width: 60%;
			margin: auto;
			padding-bottom: 30px;
		}
	}

	.doctor{
			@include marg(0px,16px);
			position:relative;
		 &::after{
		 	position:absolute;
		 	content: "";
		 	width: 100%;
		 	height: 100%;
		 	top: 0;
            left: 0;
            border-bottom: 5px solid $primary-color;
            transition: all .5s linear;
            
		 }
		 &::before{
		 	position:absolute;
		 	content: "";
		 	width: 0%;
		 	height: 100%;
		 	top: 0;
		    left: 0;
		    border-bottom: 5px solid $theme-color;
		    transition: all .5s linear;
		    
		 }
	
		&:hover::after{
				width: 0%;

	     }
	
		&:hover::before{
				width: 100%;

	     }

		.doctor-img{
			  position: relative;
			img{
				  opacity: 1;
				  display: block;
				  transition: .5s ease;
				  backface-visibility: hidden;
			}
			&:hover{
				    background: #454545;
			}
			&:hover img{
				  opacity: 0.3;
			}
			&:hover ul.nav{
				  opacity: 1;
			}
		}
		ul.nav{
			  transition: .5s ease;
			  opacity: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  text-align: center;
			li{
				a{
					i{
						  color: white;
						  font-size: 16px;
					      padding: 13px 13px;
					      margin-right: 4px;
					      border: 2px solid #fff;
					      background:transparent;
					      @include ani(.5s,ease);
				      &:hover{
				      	background: $theme-color;
				      	    border: 2px solid transparent;
				      }
					}
				}
			}
		}
		.doctor-info{
			text-align: center;
			@include padd( 10px,12px);
			h2{
				a{
					font-size:22px;
				    @include ani(.5s,ease);
				    color:#363636;;
			  &:hover{
			  	color: $theme-color;
			  }
				}
			}
			p{

			}

		}
	}
}

// ####################################
// 			our services section
// ####################################
.our-services-section{
	@include padd(0px,120px);
	.heading{
		justify-content:center;
		h1{}
		img{}
		p{
			width: 60%;
			margin: auto;
			padding-bottom: 30px;
		}
	}
    .service-detail{
    			margin-right:8px;
		margin-bottom:30px;
        padding:15px;
        transition: all 0.3s;
        position:relative;
    	div{       

     &::after{
	    position:absolute;
	 	content: "";
	 	width: 100%;
	 	height: 100%;
	 	top: 0;
	    left: 0;
	    border: 4px solid #ebebeb;

        }
				ul.nav{
		    		align-items: center;
		    		li{
		    			img{
		    				margin-right: 10px;
		    			}

		    		}
		    		li{
		    			h2{
		    				@extend %head;
		    			}
		    		}
		    		li{
		    		}
		    	}

				p, a{
					color:$text-color;
					padding-bottom:10px;
					padding-top:10px;
					 transition: all 0.3s;

				  &:hover,a:hover{
		            color:$theme-color;
			     }
				}
				a{

				}
    	}
  &::after{
    position:absolute;
 	content: "";
 	width: 100%;
 	height: 100%;
 	top: 0;
    left: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: all .4s linear;
    transform: scaleX(0.1);
}
 &::before{
    position:absolute;
 	content: "";
 	width: 100%;
 	height: 100%;
 	top: 0;
    left: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: all .4s linear;
    transform: scaleY(0.1);
}

   &:hover::after{
        position:absolute;
	 	content: "";
	 	width: 100%;
	 	height: 100%;
	 	top: 0;
	    left: 0;
	    border-top: 4px solid $theme-color;
	    border-bottom: 4px solid $theme-color;
	    transition: all .4s linear;
	    transform: scaleX(1);
   }
   &:hover::before{
        position:absolute;
	 	content: "";
	 	width: 100%;
	 	height: 100%;
	 	top: 0;
	    left: 0;
	    border-right: 4px solid $theme-color;
	    border-left: 4px solid $theme-color;
	    transition: all .4s linear;
	    transform: scaleY(1);
	    z-index: 2;
   }
    }

}

// ####################################
// 			pricing section
// ####################################
.pricing-section{
	background:$bg-color;
	@include padd(0px,120px);
	.heading{
		justify-content:center;
		h1{}
		img{}
		p{
			width: 50%;
			margin: auto;
			padding-bottom: 30px;
		}
	}
	.pricing-plan{
		position:relative;
		// border:5px solid #fff;
         @include ani(0.4s, ease);

			    ul.list-unstyled{
					margin-bottom: 0;
					@include ani(0.4s, ease);
					z-index: 5;
					border:4px solid #fff;
						    	li{
						text-align: center;
						background:#f9f9f9;
						@include padd(0px,15px);
						h2{
							font-size: 30px;
							font-weight:700;
							color: $primary-color;
						}
						span{}
						h1{
							font-size: 48px;
							font-weight: 900;
							color: $primary-color;

						}
						strong{
							font-size: 14px;
							font-weight: 400;
						}
						p{
							font-size: 16px;
							color:$text-color;
							@include padd(0, 5px);
							font-weight: 400;
						}
						a{
							
							overflow: hidden;
							
						}
					}
					.price{
						background:#fff;
						display: block;
						width: 100%;
					    @include padd(45px,15px);
					   @include ani(.2s,ease);

					}  

			 &:hover .price{
			 	background:$theme-color;
			 }
			 &:hover .price h1{
	                    font-weight: 500;
	                    }	


			    }
//   &::after{
//     position:absolute;
//  	content: "";
//  	width: 100%;
//  	height: 100%;
//  	top: 0;
//     left: 0;
//     border-top: 4px solid transparent;
//     border-bottom: 4px solid transparent;
//     transition: all .4s linear;
//     transform: scaleX(0.1);
// }
//  &::before{
//     position:absolute;
//  	content: "";
//  	width: 100%;
//  	height: 100%;
//  	top: 0;
//     left: 0;
//     border-right: 4px solid transparent;
//     border-left: 4px solid transparent;
//     transition: all .4s linear;
//     transform: scaleY(0.1);
// }

//    &:hover::after{
//         position:absolute;
// 	 	content: "";
// 	 	width: 100%;
// 	 	height: 100%;
// 	 	top: 0;
// 	    left: 0;
// 	    border-top: 4px solid $theme-color;
// 	    border-bottom: 4px solid $theme-color;
// 	    transition: all .4s linear;
// 	    transform: scaleX(1);
//    }
//    &:hover::before{
//         position:absolute;
// 	 	content: "";
// 	 	width: 100%;
// 	 	height: 100%;
// 	 	top: 0;
// 	    left: 0;
// 	    border-right: 4px solid $theme-color;
// 	    border-left: 4px solid $theme-color;
// 	    transition: all .4s linear;
// 	    transform: scaleY(1);
// 	    z-index: 1;
//    }	

		transform: translateY(0);
		transition: .6s ease;


	&:hover{
		transform: translateY(-10px);
	}

 }

}

.pricing-plan ul.list-unstyled:hover .price h1, .pricing-plan ul.list-unstyled:hover .price strong{
	color: #fff;
	
}

.pricing-plan ul.list-unstyled:hover{
	border:4px solid $theme-color;
}

// #######################
//    	FOOTER SECTION
// // #######################
.footer{
	background:#191919;
	@include padd(0px,120px);
	    .dental-plus{


	    			img{
	    				margin-bottom: 30px;
	    			}
	    			p{
	    				padding:14px 0px;
	    				text-align: justify;
	    			}
	    			.info{
	    			align-items:center;
	    			  // padding:14px 0px;
					    img{}
						p{}
				    }
	    }

	    .recent-post{
	    			h2{
	    				margin-bottom: 30px;
	    			}
	    			.author-foot{
	    				padding:14px 0px;
	    				img{
	    					width: 80px;
	    					padding-right:15px;
	    				}
	    				p{
	    					font-size: 16px;
	    					color: #b4b4b4;
	    					font-weight: 500;
	    					padding-bottom:8px;
	    					padding-left: 15px;
	    				}
	    				span{
	    					font-size:16px;
	    					color: #777777;
	    					padding-left: 15px;
	    				}
	    			}
	    }

	    .newsletter{
	    			h2{
	    				margin-bottom: 45px;
	    			}
	    		    p{
	    		    	text-align: justify;
	    		    	margin-bottom: 20px;
	    		    }
	    		    form{
	    		    	margin:20px 0;
	    		    	button{}
	    		    }
	    		    ul.social-link{
	    		    	align-items:center;
	    		    	justify-content: space-between;
	    		    	li{
	    		    	
	    		    		h4{
	    		    			color: #fff;
	    		    		}

	    		    		ul.nav{
	    		    			li{
	    		    				a{
	    		    					i{
									    color: white;
									    font-size: 16px;
									    padding: 13px 13px;
									    margin: 0 4px;
									    background: #323232;
									    transition: .3s ease-in-out;

									    &:hover{
									    color: white;
									    font-size: 16px;
									    padding: 13px 13px;
									    margin: 0 4px;
									    background: $theme-color;
									    }

	    		    					}
	    		    				}
	    		    			}
	    		    		}
	    		    	}
	    		    }
	    }

}
.form-control {
    display: block;
    width: 100%;
    height: calc(32px + 32px + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: transparent;
    border: 2px solid $text-color;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group{
	margin:10px 0px;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
    border-color:$text-color;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-radius: 0;
    padding:18px 35px;
    background-color:$theme-color;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-color:transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: $primary-color;
    border-color:transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
     box-shadow: 0 0 0 0.2rem transparent; 
}

// ###################
// credit section
// ###################
.credit-section{
	background-color:#161616;
	@include padd(0px,30px);
	p{
		text-align: center;
		a{
			color: $primary-color;
			font-size: 17px;
			font-weight: bold;
		}
	}
}